@page "/datagrid"
@inject WeatherForecastClient WeatherForecastClient

<h1>DataGrid</h1>

<DataGrid Items="@data" class="table">
    <DataGridColumn TRowData="WeatherForecast" Expression="item=>item.Date" Format="D" />
    <DataGridColumn TRowData="WeatherForecast" Expression="item=>item.Summary" />
    <DataGridColumn TRowData="WeatherForecast" Expression="item=>item.TemperatureC" Title="Temp. (C)" />
    <DataGridColumn TRowData="WeatherForecast" Title="Temp. (F)">@context.TemperatureF</DataGridColumn>
</DataGrid>

@code {
    private IReadOnlyList<WeatherForecast> data;

    protected override async Task OnInitializedAsync()
    {
        data = await WeatherForecastClient.GetAsync();
    }
}
