@page "/generic-form"

<h1>Generic Form!</h1>

<EditForm Model="MyModel">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <GenericForm @bind-Model="MyModel" EditorClass="form-control" EnableFieldValidation="false">
        <FieldTemplate Context="field">
            <div class="form-group">
                <label for="@field.EditorId">@field.DisplayName</label>
                @field.EditorTemplate
                @field.FieldValidationTemplate
            </div>
        </FieldTemplate>
    </GenericForm>
</EditForm>

<button type="button" @onclick="() => StateHasChanged()">Refresh</button>

<div>
    @MyModel
</div>

@code {
    public Model MyModel { get; set; } = new Model();

    public record Model
    {
        [System.ComponentModel.DataAnnotations.MinLength(3)]
        [System.ComponentModel.DataAnnotations.Display(Name = "String Value with custom name")]
        public string StringValue { get; set; } = "meziantou";
        [System.ComponentModel.DisplayName("Custom name")]
        public string StringValueWithCustomName { get; set; } = "Gérald Barré";

        [System.ComponentModel.DataAnnotations.DataType(System.ComponentModel.DataAnnotations.DataType.Date)]
        public DateTime? DateValueNullable { get; set; }

        [System.ComponentModel.DataAnnotations.DataType(System.ComponentModel.DataAnnotations.DataType.Date)]
        public DateTime DateValue { get; set; } = DateTime.UtcNow;
        public DateTime DateTimeValue { get; set; } = DateTime.UtcNow;
        [System.ComponentModel.DataAnnotations.DataType(System.ComponentModel.DataAnnotations.DataType.Date)]
        public DateTimeOffset DateOffsetValue { get; set; } = DateTimeOffset.UtcNow;
        public DateTimeOffset DateTimeOffsetValue { get; set; } = DateTimeOffset.UtcNow;
        public bool BooleanValue { get; set; }
        public short Int16Value { get; set; }
        public int Int32Value { get; set; }
        public long Int64Value { get; set; }
        public float SingleValue { get; set; }
        public double DoubleValue { get; set; }
        public decimal DecimalValue { get; set; }
        public decimal? DecimalValueNullable { get; set; }

        [System.ComponentModel.DataAnnotations.Editable(false)]
        public byte ByteValue { get; set; }

        [System.ComponentModel.DataAnnotations.Display(Name = "Byte Value")]
        public int ByteValueBindable { get => ByteValue; set => ByteValue = (byte)value; }

        [System.ComponentModel.Editor(typeof(GenericFormDemoCustomEditor), typeof(Microsoft.AspNetCore.Components.Forms.InputBase<>))]
        public string Choice { get; set; }

        // This is not visible in the form
        public string ReadOnly { get; }

        // This is not visible in the form
        [System.ComponentModel.DataAnnotations.Editable(false)]
        public string NotEditable { get; }

        [System.ComponentModel.Editor(typeof(InputTextArea), typeof(Microsoft.AspNetCore.Components.Forms.InputBase<>))]
        public string TextArea { get; set; }

        [System.ComponentModel.DataAnnotations.DataType(System.ComponentModel.DataAnnotations.DataType.EmailAddress)]
        public string Email { get; set; }

        [System.ComponentModel.DataAnnotations.DataType(System.ComponentModel.DataAnnotations.DataType.Password)]
        public string Password { get; set; }

        [System.ComponentModel.DataAnnotations.DataType(System.ComponentModel.DataAnnotations.DataType.MultilineText)]
        public string MultilineText { get; set; }

        [System.ComponentModel.DataAnnotations.DataType(System.ComponentModel.DataAnnotations.DataType.PhoneNumber)]
        public string PhoneNumber { get; set; }

        [System.ComponentModel.DataAnnotations.DataType(System.ComponentModel.DataAnnotations.DataType.Url)]
        public string Url { get; set; }

        public Uri Uri { get; set; }
    }
}