@page "/infinite-scrolling-pagination"

<h1>Infinite scrolling!</h1>

<InfiniteScrolling ItemsProvider="GetItems">
    <ItemTemplate Context="item">
        <div>@item</div>
    </ItemTemplate>
    <LoadingTemplate>
        <div><span class="oi oi-reload spin"></span> Loading more items...</div>
    </LoadingTemplate>
</InfiniteScrolling>

@code {
    string[] AllItems = Enumerable.Range(0, 100).Select(i=> $"Item {i}").ToArray();

    async Task<IEnumerable<string>> GetItems(InfiniteScrollingItemsProviderRequest request)
    {
        const int PageSize = 20;
        var pageIndex = request.StartIndex / PageSize;

        // Simulate a call to an API or a DB to load a page
        await Task.Delay(500);
        return AllItems.Skip(pageIndex * PageSize).Take(PageSize).ToArray();
    }
}