@page "/logviewer"

<h1>Log Viewer!</h1>

<EditForm Model="configuration">
    <label>Timestamp</label><InputEnumSelect @bind-Value="configuration.TimestampFormat" />

    <label><InputCheckbox @bind-Value="configuration.ShowLineNumbers" /> Show line numbers</label>
</EditForm>

<LogViewer Entries="entries" TimestampDisplayFormat="configuration.TimestampFormat" ShowLineNumbers="configuration.ShowLineNumbers" LogHighlighters="highlighters" />

@code{
    ViewConfiguration configuration = new();

    ILogHighlighter[] highlighters = new ILogHighlighter[] { new UrlLogHighlighter(), new QuoteLogHighlighter() };

    List<LogEntry> entries = new List<LogEntry>()
	{
		new LogEntry{ Timestamp = DateTime.UtcNow, Message = "test", LogLevel = LogLevel.Trace },
		new LogEntry{ Timestamp = DateTime.UtcNow.AddSeconds(3), Message = "test", LogLevel = LogLevel.Debug },
        new LogEntry{ Timestamp = DateTime.UtcNow.AddSeconds(4), Message = "test", LogLevel = LogLevel.Information },
        new LogEntry{ Timestamp = DateTime.UtcNow.AddSeconds(4), Message = "test", LogLevel = LogLevel.Warning },
        new LogEntry{ Timestamp = DateTime.UtcNow.AddSeconds(5), Message = "test", LogLevel = LogLevel.Error },
		new LogEntry{ Timestamp = DateTime.UtcNow.AddSeconds(6), Message = "test", LogLevel = LogLevel.Critical },
		new LogEntry{ Timestamp = DateTime.UtcNow.AddSeconds(10), Message = "test test    test test test\n\ttest test test test test test test", LogLevel = LogLevel.Information },
		new LogEntry{ Timestamp = DateTime.UtcNow.AddSeconds(14), LogLevel = LogLevel.Information,
			Message = new
			{
				Text = "test data",
				Null = (object?)null,
				A = "test",
				B = 10,
				C = new object[] { 1, "test", 'c', new[] { 123 } },
				D = new Dictionary<string, object> { { "Key1", "value1" }, { "Key2", "value2" } },
			}
		},
		new LogEntry{ Timestamp = DateTime.UtcNow, Message = "test http://example.com 'value' \"value\" test", LogLevel = LogLevel.Information },
		new LogEntry{ Timestamp = DateTime.UtcNow.AddSeconds(16), Message = "ansi 16-color: \u001b[31mred\u001b[0m \u001b[1;33mbold yellow\u001b[0m \u001b[4;36munderline cyan\u001b[0m", LogLevel = LogLevel.Information },
		new LogEntry{ Timestamp = DateTime.UtcNow.AddSeconds(17), Message = "ansi 256-color: \u001b[38;5;208morange\u001b[0m \u001b[38;5;45mcyan\u001b[0m", LogLevel = LogLevel.Information },
		new LogEntry{ Timestamp = DateTime.UtcNow.AddSeconds(18), Message = "ansi truecolor: \u001b[38;2;100;200;50mgreen tint\u001b[0m and \u001b[48;2;20;20;120;38;2;240;240;255mbackground + foreground\u001b[0m", LogLevel = LogLevel.Information },
		new LogEntry{ Timestamp = DateTime.UtcNow.AddSeconds(19), Message = "ansi + highlighter: \u001b[35mhttp://example.com/path\u001b[0m and 'quoted text'", LogLevel = LogLevel.Information },
		new LogEntry
		{
			Timestamp = DateTime.UtcNow.AddSeconds(20),
			Message = "Handling request (expanded by default)",
			LogLevel = LogLevel.Information,
			Expanded = true,
			Children = new List<LogEntry>
			{
				new LogEntry{ Timestamp = DateTime.UtcNow.AddSeconds(20), Message = "Validating input", LogLevel = LogLevel.Debug },
				new LogEntry
				{
					Timestamp = DateTime.UtcNow.AddSeconds(21),
					Message = "Querying database",
					LogLevel = LogLevel.Information,
					Children = new List<LogEntry>
					{
						new LogEntry{ Timestamp = DateTime.UtcNow.AddSeconds(21), Message = "Opening connection", LogLevel = LogLevel.Trace },
						new LogEntry
						{
							Timestamp = DateTime.UtcNow.AddSeconds(22),
							LogLevel = LogLevel.Information,
							Message = new
							{
								Text = "Executing query",
								Sql = "SELECT * FROM Users",
								Duration = TimeSpan.FromMilliseconds(12),
							},
							Children = new List<LogEntry>
							{
								new LogEntry{ Timestamp = DateTime.UtcNow.AddSeconds(22), Message = "Row read", LogLevel = LogLevel.Trace },
							},
						},
					},
				},
				new LogEntry{ Timestamp = DateTime.UtcNow.AddSeconds(23), Message = "Request completed", LogLevel = LogLevel.Information },
			},
		},
	};

    protected override void OnInitialized()
    {
        for(var i = 0; i < 100; i++)
        {
            entries.Add(new LogEntry { Timestamp = DateTime.UtcNow.AddMinutes(i + 1), Message = "test", LogLevel = LogLevel.Trace });
        }
        base.OnInitialized();
    }

    class ViewConfiguration
    {
        public TimestampDisplayFormat TimestampFormat { get; set; } = TimestampDisplayFormat.FullDateTime;
        public bool ShowLineNumbers { get; set; } = true;
    }
}