@page "/logviewer"

<h1>Log Viewer!</h1>

<label><input type="checkbox" @bind="showTimestamps"> Show timestamps</label>
<label><input type="checkbox" @bind="showLineNumbers"> Show line numbers</label>

<LogViewer Entries="entries" ShowTimestamps="showTimestamps" ShowLineNumbers="showLineNumbers" LogHighlighters="highlighters" />

@code{
	bool showTimestamps = true;
	bool showLineNumbers = true;

	ILogHighlighter[] highlighters = new ILogHighlighter[] { new UrlLogHighlighter(), new QuoteLogHighlighter() };

	List<LogEntry> entries = new List<LogEntry>()
	{
		new LogEntry{ Timestamp = DateTime.UtcNow, Message = "test", LogLevel = LogLevel.Trace },
		new LogEntry{ Timestamp = DateTime.UtcNow, Message = "test", LogLevel = LogLevel.Debug },
		new LogEntry{ Timestamp = DateTime.UtcNow, Message = "test", LogLevel = LogLevel.Information },
		new LogEntry{ Timestamp = DateTime.UtcNow, Message = "test", LogLevel = LogLevel.Warning },
		new LogEntry{ Timestamp = DateTime.UtcNow, Message = "test", LogLevel = LogLevel.Error },
		new LogEntry{ Timestamp = DateTime.UtcNow, Message = "test", LogLevel = LogLevel.Critical },
		new LogEntry{ Timestamp = DateTime.UtcNow, Message = "test test    test test test\n\ttest test test test test test test", LogLevel = LogLevel.Information },
	new LogEntry{ Timestamp = DateTime.UtcNow, Message = "test data", LogLevel = LogLevel.Information, Data = new { Null = (object)null, A = "test", B = 10, C = new object[]{ 1, "test", 'c', new[] { 123 } } } },
		new LogEntry{ Timestamp = DateTime.UtcNow, Message = "test http://example.com 'value' \"value\" test", LogLevel = LogLevel.Information },
	};

	protected override void OnInitialized()
	{
		for(var i = 0; i < 100; i++)
		{
			entries.Add(new LogEntry { Timestamp = DateTime.UtcNow, Message = "test", LogLevel = LogLevel.Trace });
		}
		base.OnInitialized();
	}
}