@page "/querystring"
@inject NavigationManager NavigationManager

<h1>QueryString service!</h1>

<input type="text" @bind="Text" />
<button @onclick="UpdateQueryString">Update QueryString</button>
<button @onclick="UpdateQueryStringJS">Update QueryString without changing history</button>

@code {
    [Parameter, SupplyParameterFromQuery]
    public string? Text { get; set; }

    void UpdateQueryString()
    {
        NavigationManager.UpdateUrlUsingParameters(this, replaceHistory: false);
    }

    void UpdateQueryStringJS()
    {
        NavigationManager.UpdateUrlUsingParameters(this, replaceHistory: true);
    }
}