@page "/timezone"
@inject TimeZoneService TimeZoneService

<h1>TimeZone!</h1>

<p>Current date: @now</p>
<p>Local Now to UTC: @localToUtc</p>

@code {
    DateTimeOffset? now;
    DateTimeOffset? localToUtc;

    [SuppressMessage("", "RS0030")]
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            now = await TimeZoneService.GetLocalDateTimeAsync(DateTimeOffset.UtcNow);
            localToUtc = await TimeZoneService.GetUtcDateTimeAsync(DateTime.Now);
            StateHasChanged();
        }
    }
}