.format-selector-group {
    color: var(--color-log-debug);
    font-size: smaller;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: normal;
    margin: 0 0 4px;
}

.format-selector {
    color: var(--color-log-debug);
    text-decoration: none;
}

    .format-selector.selected, .format-selector:hover {
        text-decoration: underline;
    }

pre {
    color: var(--color-log-information);
    margin: 0;
}

table {
    margin: 0;
}

th {
    padding-right: 15px;
    vertical-align: top;
}
