on:
  workflow_dispatch:
  schedule:
  - cron: '0 0 * * 0' # once a week

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true

defaults:
  run:
    shell: pwsh

jobs:
  update_file:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET
        uses: ./.github/setup-dotnet
      - run: |
          dotnet run --project tools/Meziantou.Framework.Http.Hsts.Generator
          if ($LASTEXITCODE -ne 0) {
            git config --global user.email "git@meziantou.net"
            git config --global user.name "meziantou"
            git checkout -b update-hsts-preload
            git add .
            git commit -m "Update HSTS preload list"
            git push origin update-hsts-preload --force
            $runUrl = "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            $body = "Update HSTS preload list`n`nCreated by: $runUrl"
            gh pr create --title "Update HSTS preload list" --body $body --base main
          }
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
